{
    "local_root_path": "${PROJECT_DIR}",
    "dep_root_path"  : "${PROJECT_DIR}",
    "is_include_dir" : false,
    "rtl_files": [
        {
            "name": "{{module_path}}/rtl/{{name}}.sv",
            "library": "work",
            "env": ["all"],
            "target": ["all"],
            "is_include_file": false
        }
    ],
    "constraint_files": [
        "{{module_path}}/constraint/{{name}}_timing_constraints_local.xdc"
    ],
    "dependency_dir": [],
    "include_dir": []
}

