{
    "local_root_path": "${PROJECT_DIR}",
    "dep_root_path"  : "${PROJECT_DIR}",
    "is_include_dir" : false,
    "rtl_files": [{% for i in ip_list %}
        {
            "name": "{{ i }}",
            "library": "work",
            "env": ["all"],
            "target": ["all"],
            "is_include_file": false {% if not loop.last %}
        }, {% else %}
        } {% endif %} {% endfor %}
    ],
    "constraint_files": [
        "{{module_path}}/constraint/{{name}}_timing_constraints_local.xdc"
    ],
    "dependency_dir": [],
    "include_dir": []
}
