// ==============================================================================================
// BSD 3-Clause Clear License
// Copyright © 2025 ZAMA. All rights reserved.
// ----------------------------------------------------------------------------------------------
// Description  : Template
// ----------------------------------------------------------------------------------------------
//
// General info on the module.
//
// Parameters : Describes the parameters.
//
// Prerequisites : Describes the conditions on the inputs.
//
// ==============================================================================================

module {{name}} #(
//** parameters **//
)
(
    input  logic clk,        // clock
    input  logic a_rst_n,    // asynchronous reset
    input  logic s_rst_n,    // synchronous reset

//** ports **//
);

// ============================================================================================== --
// localparam
// ============================================================================================== --
//** localparam **//
// ============================================================================================== --
// functions
// ============================================================================================== --
//** functions **//
// ============================================================================================== --
// {{name}}
// ============================================================================================== --
//** code **//

endmodule

