{
    "local_root_path": "${PROJECT_DIR}",
    "dep_root_path"  : "${PROJECT_DIR}",
    "rtl_files": [
        {
            "name": "{{module_path}}/simu/rtl/tb_{{name}}.sv",
            "library": "work",
            "env": ["simu"],
            "target": ["all"],
            "is_include_file": false
        }
    ],
    "dependency_dir": [
        "hw/simu_lib/simu_base",
        "hw/simu_lib/stream_lib",
        "{{module_path}}"
    ],
    "include_dir": []
}

