output*
*_gen
gen
.vscode/
xsim.dir
xvlog.pb
.Xil
__pycache__/
*.swp
*.jou
*.log
*.sage.py
*.store
sw/bin/tv_hw/latest
sw/bin/gtv/latest
sw/bin/hw-hpu/latest
sw/bin/tfhe-rs/latest
.ngt_*
.ipcache
.*
build
amc_bsp
*.mod
*.o
*.bin
*.ko
*.symvers
*.order
.vim/
.nvim/
xrt/kernel/*/xml/*.xml
verdiLog/
novas*
log*
