*.pdi filter=lfs diff=lfs merge=lfs -text

# Add here a list of file types that should be trimmed for spaces Install something like the
# following filter to .git/config to enable it:
# [filter "trailing-spaces"]
#     clean = sed -re 's/[ \t]+$//'

*.c    filter=trailing-spaces
*.h    filter=trailing-spaces
*.sv   filter=trailing-spaces
*.json filter=trailing-spaces
*.txt  filter=trailing-spaces
*.md   filter=trailing-spaces
*.py   filter=trailing-spaces
*.j2   filter=trailing-spaces
*.sh   filter=trailing-spaces
*.tcl  filter=trailing-spaces
*.xdc  filter=trailing-spaces

