{    
    "local_root_path": "${PROJECT_DIR}",
    "dep_root_path"  : "${PROJECT_DIR}",
    "rtl_files": [
{% for i in include_list %}
        {
            "name": "{{ i }}",
            "library": "work",
            "env": ["simu"],
            "target": ["all"],
            "is_include_file": true {% if not loop.last %}
        }, {% else %}
        }, {% endif %} {% endfor %}
{% for i in simulation_list %}
        {
            "name": "{{ i }}",
            "library": "work",
            "env": ["simu"],
            "target": ["all"],
            "is_include_file": false {% if not loop.last %}
        }, {% else %}
        } {% endif %} {% endfor %}
    ],
    "dependency_dir": [
        "fw/gen/{{ microblaze_conf }}/"
    ],
    "include_dir": []
}
